{% extends 'layout.html' %}
{% block title %}Title{% endblock %}
{% block body %}

<h1>you are logged in as id {{request.session.user_id}}</h1>
<div id="reviews">
  {% for review in reviews %}
  <a href="/book/{{review.book.id}}">{{review.title}}</a>
  <h6>Rating {{review.rating}}</h6>
  {{review.review}}
  {{review.created_at}}
  {% endfor %}
</div>
<div id="otherBooks">
  {% for book in books %}
  <a href="/book/{{book.id}}">{{book.title}}</a>
  {% endfor %}
</div>
<a href="/">back</a>
{% endblock %}
