{% extends 'layout.html' %}
{% block title %}Dojo Secrets{% endblock %}
{% block body %}
{% load static %}
<div id='register'>
  <h2>Register</h2>
  <form action="/users" method="post">
    {% csrf_token %}
    <div>
      <label>Name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label>Email</label>
      <input type="text" name="email">
    </div>
    <div>
      <label>Password</label>
      <input type="text" name="password">
    </div>
    <div>
      <label>Confirm password</label>
      <input type="text" name="confPass">
    </div>
    <input type="submit" value="Submit">
  </form>
</div>

<div id='login'>
  <form action="/sessions" method="post">
    {% csrf_token %}
    <h1>Log In</h1>
    <div>
      <label>Email</label>
      <input type="text" name="email">
    </div>
    <div>
      <label>Password</label>
      <input type="text" name="password">
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
